.wrapper {
  max-width: 300px;
  margin: 0 auto;
  padding: 5em 0 0;
}
.expando-body {
  border: 1px solid red;
}

.closed {
  max-height: 3.3em;
  overflow: hidden;
}

.expando-footer {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
.expando-block {
  border: 1px solid gray;
  margin: 1em 0;
}
.expando-block p {
  margin: 0;
}
